@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url();
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

*{
    
    background: #F8F8FA
}

nav{
    width: 89%;
    position: sticky;
    margin-top: 43px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.navlist{
    flex: 1;
    align-items: center;
    margin: 0px 170px;
}

.navlist ul li{
    list-style: none;
    display: inline-block;
    
    margin-left: 81px;
    align-items: center;
}

.navlist ul li a {
    text-decoration: none;
    color:#150A28;
    font-family: Montserrat;
    font-style: normal;
    transition: 0.2s;
}

.active, .navlist ul li a:hover{
    text-decoration: none;
    color:#150a2841;
    font-family: Montserrat;
    font-style: normal;
}

.loginbtn{
    
    cursor: pointer;
    background-color: #F8F8FA;
    border: 1px solid rgba(21, 10, 40, 0.5);
    box-sizing: border-box;
    border-radius: 9px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 112px;
    height: 40px;
}

.loginbtn :hover{
    background-color: #6B24FC;
    border-radius: 9px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #F8F8FA;
    font-size: 16px;
    line-height: 40px;
    position: absolute;
    width: 113px;
    height: 40px;
    left: 1204px;
    top: 5.5px;
    transition: 0.5s;
}
.loginbtn a{
    text-decoration: none;
    color: #150A28;
}

.ourteam h1{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #150A28;
}
.ourteam p{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.51em;
    color: rgba(21, 10, 40, 0.7);
}

.profile{
    max-width: 1100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    gap: 350px;
    margin-left: -25px;
    
}

div.profile .card4, .card5, .card6{
    margin-left: -0.8px;
    margin-top: 230px;
}

div.profile .card7{
    margin-top: 230px;
    margin-left: -0.8px;
}






.profile .card1{
    position: relative;
    display: flex;
    z-index: 10;
}

.profile .card1 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 1;
}
.profile .card1 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 2;
}
.profile .card1 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card1 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card1 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card1 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card1 .layer3{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 3;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card1 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 3;
}
/* ---------------------------------------------------------- */
.profile .card2{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card2 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card2 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card2 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card2 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card2 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card2 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card2 .layer3{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card2 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;

}
/* ---------------------------------------------------------- */
.profile .card3{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card3 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card3 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card3 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card3 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card3 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card3 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card3 .layer3{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card3 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
}

/* ---------------------------------------------------------- */
.profile .card4{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card4 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card4 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card4 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card4 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card4 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card4 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card4 .layer3{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card4 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
}
/* ---------------------------------------------------------- */
.profile .card5{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card5 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card5 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card5 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card5 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card5 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card5 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card5 .layer3{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card5 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
}
/* ---------------------------------------------------------- */
.profile .card6{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card6 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card6 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card6 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card6 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card6 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card6 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card6 .layer3 {
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}
.profile .card6 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
}
/* ---------------------------------------------------------- */
.profile .card7{
    position: relative;
    z-index: 11;
    margin-left: 100px;
}

.profile .card7 .layer1{
    position: absolute;
    width: 412px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 4;
}
.profile .card7 .layer2{
    margin-top: 180px;
    position: absolute;
    width: 412px;
    height: 346px;
    background: #6B24FC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    z-index: 5;
}
.profile .card7 .layer2 .icon{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: transparent;
    justify-content: center;
    margin-top: 50px;
}
.profile .card7 .layer2 .icon a, img{
    background-color: transparent;
}
.profile .card7 .layer2 h2{
    text-decoration: none;
    background: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F8F8FA;
    margin-top: 146px;
}
.profile .card7 .layer2 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
}
.profile .card7 .layer3 img{
    position: absolute;
    width: 187px;
    height: 187px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 6;
    margin-top: 90px;
    margin-left: 108px;
}









.footer-container{
    margin-left: -11px;
}

.footer-container .footer {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    width: 100%;
    margin-top: 1000px;
    background-color: #6B24FC;
    padding: 50px;
}

.footer-container .footer .section1{
    background-color: #6B24FC;
    text-decoration: none;
    
}

.footer-container .footer .section1 h2{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer-container .footer .section1 a,p{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-container .footer .section22{
    background-color: #6B24FC;
    text-decoration: none;
    
}

.footer-container .footer .section22 h2{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section22 a{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section3{
    background-color: #6B24FC;
    text-decoration: none;
    
}

.footer-container .footer .section3 h2{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section3 a{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section4{
    background-color: #6B24FC;
    text-decoration: none;
    
}

.footer-container .footer .section4 h2{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section4 a{
    background-color: #6B24FC;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-container .footer .section4{
    padding-right: 90px;
}