@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.body{
    width: 100%;
    height: 100%;
}

.circle{
    position: fixed;
    background-color: #6C24FB;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    z-index: -1;
    left: -550px;
    top: -550px;
}

.container{
    position: fixed;
    width: 100wh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 500px;
    margin-left: 100px;

}

.login{
    display: flex;
    align-items: center;
    text-align: center;
}

form{
    width: 460px;
    height: 60%;
}

.login img{
    width: 150px;
    margin-top: -10%;
}

form h2{
    color: #150A28;
    margin-top: 10%; 
    font-size: 36px;
}

.input{
    margin-left: 30px;
    width: 80%;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    border-color: #150A28;
    background: none;
    font-family: Montserrat;
    margin-top: 5px;
}

.submit{
    height: 45px;
    width: 60%;
    border-radius: 10px;
    border-color: transparent;
    background: #6C24FB;
    color: #f8f8fa;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

p{
    color: #150A28;
    font-weight: 400px;
    font-size: 16px;
    margin-top: 10px;
}